<div>
    <h2>
        <span jhiTranslate="ctecApp.alarmHistory.home.title">Alarm Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-alarm-history" [routerLink]="['/', { outlets: { popup: ['alarm-history-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ctecApp.alarmHistory.home.createLabel">
            Create new Alarm History
            </span>
        </button>
        <button class="btn btn-primary float-right jh-create-entity create-alarm-history mr-1" (click)="loadAll();currentAlarmType=null;startTime=null;endTime=null;">
            <span class="fa fa-search"></span>
            <span class="hidden-sm-down">
            搜索所有
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row" *ngIf="false">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ctecApp.alarmHistory.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <label class="form-control-label" for="start_time">开始时间</label>
                    <input id="start_time" type="datetime-local" ([ngModel])="startTime" class="form-control" name="time"/>
                </div>
                <div class="col-sm-6">
                    <label class="form-control-label" for="end_time">结束时间</label>
                    <input id="end_time" type="datetime-local" ([ngModel])="endTime" class="form-control" name="time"/>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="ctecApp.alarmHistory.alarmType" for="field_alarmType">Alarm Type</label>
                <select class="form-control" name="alarmType"  [(ngModel)]="currentAlarmType" (change)="search(currentAlarmType)" id="field_alarmType" >
                    <option value="FAST_RUN_WARN">{{'ctecApp.AlarmType.FAST_RUN_WARN' | translate}}</option>
                    <option value="PEOPLE_COUNT_LIMIT_WARN">{{'ctecApp.AlarmType.PEOPLE_COUNT_LIMIT_WARN' | translate}}</option>
                    <option value="CROWDS_GATHER_WARN">{{'ctecApp.AlarmType.CROWDS_GATHER_WARN' | translate}}</option>
                    <option value="VIGOROUSLY_WAVED_WARN">{{'ctecApp.AlarmType.VIGOROUSLY_WAVED_WARN' | translate}}</option>
                    <option value="FIGHT_WARN">{{'ctecApp.AlarmType.FIGHT_WARN' | translate}}</option>
                    <option value="ABNORMAL_ACTION_WARN">{{'ctecApp.AlarmType.ABNORMAL_ACTION_WARN' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="form-control-label m-0" for="field_alarmRegion">报警地点</label>
                <div class="input-group mt-2">
                    <input class="form-control" type="text" id="field_alarmRegion"/>
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="alarmHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="image"><span jhiTranslate="ctecApp.alarmHistory.image">Image</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="alarmType"><span jhiTranslate="ctecApp.alarmHistory.alarmType">Alarm Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="time"><span jhiTranslate="ctecApp.alarmHistory.time">Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="camera.id"><span jhiTranslate="ctecApp.camera.cameraID">Camera ID</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alarmHistory of alarmHistories ;trackBy: trackId">
                <td><a [routerLink]="['../alarm-history', alarmHistory.id ]">{{alarmHistory.id}}</a></td>
                <td>
                    <a *ngIf="alarmHistory.image" (click)="openFile(alarmHistory.imageContentType, alarmHistory.image)">
                        <img [src]="'data:' + alarmHistory.imageContentType + ';base64,' + alarmHistory.image" style="max-height: 30px;" alt="alarmHistory image"/>
                    </a>
                    <span *ngIf="alarmHistory.image">{{alarmHistory.imageContentType}}, {{byteSize(alarmHistory.image)}}</span>
                </td>
                <td jhiTranslate="{{'ctecApp.AlarmType.' + alarmHistory.alarmType}}">{{alarmHistory.alarmType}}</td>
                <td>{{alarmHistory.time | date:'medium'}}</td>
                <td>
                    <div *ngIf="alarmHistory.camera">
                        <a [routerLink]="['../camera', alarmHistory.camera?.id ]" >{{alarmHistory.camera?.cameraID}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../alarm-history', alarmHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alarm-history/'+ alarmHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alarm-history/'+ alarmHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="alarmHistories && alarmHistories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
