<div>
    <h2>
        <span jhiTranslate="ctecApp.perimeterProtectRegion.home.title">Perimeter Protect Regions</span>
        <button class="btn btn-primary float-right jh-create-entity create-perimeter-protect-region" [routerLink]="['/', { outlets: { popup: ['perimeter-protect-region-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ctecApp.perimeterProtectRegion.home.createLabel">
            Create new Perimeter Protect Region
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row" *ngIf="false">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ctecApp.perimeterProtectRegion.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="perimeterProtectRegions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="leftUpX"><span jhiTranslate="ctecApp.perimeterProtectRegion.leftUpX">Left Up X</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="leftUpY"><span jhiTranslate="ctecApp.perimeterProtectRegion.leftUpY">Left Up Y</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rightUpX"><span jhiTranslate="ctecApp.perimeterProtectRegion.rightUpX">Right Up X</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rightUpY"><span jhiTranslate="ctecApp.perimeterProtectRegion.rightUpY">Right Up Y</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="leftDownX"><span jhiTranslate="ctecApp.perimeterProtectRegion.leftDownX">Left Down X</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="leftDownY"><span jhiTranslate="ctecApp.perimeterProtectRegion.leftDownY">Left Down Y</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rightDownX"><span jhiTranslate="ctecApp.perimeterProtectRegion.rightDownX">Right Down X</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rightDownY"><span jhiTranslate="ctecApp.perimeterProtectRegion.rightDownY">Right Down Y</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let perimeterProtectRegion of perimeterProtectRegions ;trackBy: trackId">
                <td><a [routerLink]="['../perimeter-protect-region', perimeterProtectRegion.id ]">{{perimeterProtectRegion.id}}</a></td>
                <td>{{perimeterProtectRegion.leftUpX}}</td>
                <td>{{perimeterProtectRegion.leftUpY}}</td>
                <td>{{perimeterProtectRegion.rightUpX}}</td>
                <td>{{perimeterProtectRegion.rightUpY}}</td>
                <td>{{perimeterProtectRegion.leftDownX}}</td>
                <td>{{perimeterProtectRegion.leftDownY}}</td>
                <td>{{perimeterProtectRegion.rightDownX}}</td>
                <td>{{perimeterProtectRegion.rightDownY}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../perimeter-protect-region', perimeterProtectRegion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'perimeter-protect-region/'+ perimeterProtectRegion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'perimeter-protect-region/'+ perimeterProtectRegion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="perimeterProtectRegions && perimeterProtectRegions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
